body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
}
h1 {
  color: #fff;  
  text-align: center;
}
.nav {
  height: 100%;
  width: 160px; 
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #808080; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}
img {
  border-radius: 50%;
}



  
  

